@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-linear {
background-color: #f5f5f5;
opacity: 1;
background-image: radial-gradient(circle at center bottom, #f0f8e6, #ffffff), repeating-radial-gradient(circle at bottom center, #f4f5ff, #ececec, 7px, transparent 120px, transparent 100px);
background-blend-mode: multiply;
}

.grid-frame-light {
  width: 100%;
  height: 100%;
  --color: rgba(150, 150, 150, 0.3);
  background-color: #f8f8f8;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 55px 55px;
}

.grid-frame-dark {
  width: 100%;
  height: 100%;
  --color: rgba(114, 114, 114, 0.3);
  background-color: #111111;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 55px 55px;
}